* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: #3498db;
    color: white;
    text-align: center;
    padding: 20px;
}

#catalog {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.product-card {
    width: 30%;
    min-width: 300px;
    max-height: 400px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform .3s ease-in-out;
}

.product-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.product-info {
    padding: 10px;
    text-align: center;
}

.product-name {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 5px;
}

.product-price {
    font-size: 1.1em;
    color: green;
}

.product-desc {
    font-size: 0.9em;
    color: gray;
}

.product-card:hover {
    transform: scale(1.05);
}

.footer {
    background-color: #34495e;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
